@media (max-width:1280px) {
  .container {
    width: 80%;
  }
  .nav__item {
   /* display: none;*/
  }
  .burger-menu{
    display: inline-block;
    z-index: 2;
  }
  .burger-menu span {
    width: 100%;
    height: 10px;
    background-color: #000;
    position: absolute;
  }
  .burger-menu span:nth-child(1) {
    top: 0;
  }
  .burger-menu span:nth-child(2) {
    top: 15px;
  }
  .burger-menu span:nth-child(3) {
    top: 30px;
  }
  input[type = checkbox] {
    display: block;
    opacity: 0;
    z-index: 3;
  }
  input[type = checkbox]:checked ~ .burger-menu span {
    z-index: 2;
  }

.burger-menu span {
  transition: background-color 1s linear;
}
  input[type = checkbox]:checked ~ .burger-menu span {
    background-color: #fff;
  }
  input[type = checkbox]:checked ~ .header__list {
    visibility: visible;
  }
  input[type = checkbox]:checked ~ .burger-menu span:nth-child(3) {
    visibility: hidden;
    top: 16px;
  }
  input[type = checkbox]:checked ~ .burger-menu span:nth-child(2) {
    transform: rotate(45deg);
    top: 0;
  }
  input[type = checkbox]:checked ~ .burger-menu span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .nav__item {
    z-index: 10;
    display: flex;
    /*display: grid;
    row-gap: 20px;
    align-content: center;
    justify-content: center;*/
    width: 250px;
    height: 1000px;
    position: absolute;
    right: 10px;
    background-color: cadetblue;
    font-size: 36px;
    text-align: center;
    visibility: hidden;
    /*transition: right 1s, visibility 3s linear;*/
  }
}